body {margin: 15px; font-family: verdana;}

*{box-sizing: border-box;}

[class*="col-"] {float: left; padding: 15px;}

@media only screen and (max-width: 768px) {

       #container {background-color: grey; color: white; font-size: 8px;}
       #banner img {display: none;}
       .content {display: block; padding-left: 30px;}
       hr {display:block;}
       #main #imglist #footer {background-color: none;}

}
@media only screen and (min-width: 768px) {
        
        #container {background-color: grey; color: white; font-size: 12px;}
        #banner img {display: none;}
        .content {display: block; padding-left: 30px;}
        hr {display:block;}
        #main #imglist #footer {background-color: none;}

        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
      }

@media only screen and (min-width: 992px) {
        
        #container {background-color: white; color: black; font-size: 14px;}
        #banner img {display:block;}
        .content {position: absolute; left: 15px; top: 160px; color: white;}
        hr {display: none;}
        #main {background-color: lightgrey;}
        #imglist {background-color: lightgrey;}
        #footer {background-color: whitesmoke;}

        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
      }

#container {padding: 5px;}
      
li {display: inline;
      padding: 8px;}

.left {float: left;
         width: "35%";
         padding: 0px;}
  
.right {float: right;
         width: "65%";}
  
#banner {position: relative; width: "100%";}

#main {
       padding: 0px 0px 0px 15px;
       }

#imglist {
        padding: 10px 10px 10px 15px;}

#footer {
        padding: 10px 10px 10px 15px;
        }
.row:after {content: "";
            display: table;
            clear: both;}